language: php

php:
  - 5.3

before_script:
  - ./tests/travis.sh

script: phpunit --bootstrap vendor/midgard/midgardmvc-core/framework.php tests/ 

notifications:
    irc: "irc.freenode.org#midgard"
